USE [master]
GO
/****** Object:  Database [HranitelPro]    Script Date: 15.04.2026 14:28:11 ******/
CREATE DATABASE [HranitelPro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HranitelPro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HranitelPro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HranitelPro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HranitelPro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HranitelPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HranitelPro]
GO
/****** Object:  Table [dbo].[attachedfiles]    Script Date: 15.04.2026 14:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attachedfiles](
	[fileid] [tinyint] NOT NULL,
	[requestid] [tinyint] NOT NULL,
	[filetype] [nvarchar](50) NULL,
	[filepath] [nvarchar](50) NULL,
	[filename] [nvarchar](50) NULL,
	[uploadedat] [nvarchar](50) NULL,
 CONSTRAINT [PK_attachedfiles_1] PRIMARY KEY CLUSTERED 
(
	[fileid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 15.04.2026 14:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employeeid] [tinyint] NOT NULL,
	[lastname] [nvarchar](50) NULL,
	[firstname] [nvarchar](50) NULL,
	[patronymic] [nvarchar](50) NULL,
	[department] [nvarchar](50) NULL,
	[division] [nvarchar](1) NULL,
	[employeecode] [int] NULL,
 CONSTRAINT [PK_employees] PRIMARY KEY CLUSTERED 
(
	[employeeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groupmembers]    Script Date: 15.04.2026 14:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groupmembers](
	[groupmemberid] [tinyint] NOT NULL,
	[groupvisitid] [tinyint] NULL,
	[lastname] [nvarchar](50) NULL,
	[firstname] [nvarchar](50) NULL,
	[patronymic] [nvarchar](50) NULL,
	[phone] [bigint] NULL,
	[email] [nvarchar](50) NULL,
	[passportdata] [bigint] NULL,
	[birthdate] [date] NULL,
	[photopath] [nvarchar](50) NULL,
 CONSTRAINT [PK_groupmembers_1] PRIMARY KEY CLUSTERED 
(
	[groupmemberid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groupvisits]    Script Date: 15.04.2026 14:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groupvisits](
	[groupvisitid] [tinyint] NOT NULL,
	[requestid] [tinyint] NOT NULL,
	[excelfilepath] [nvarchar](50) NULL,
	[templatefilepath] [nvarchar](50) NULL,
 CONSTRAINT [PK_groupvisits_1] PRIMARY KEY CLUSTERED 
(
	[groupvisitid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15.04.2026 14:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userid] [tinyint] NOT NULL,
	[lastname] [nvarchar](50) NULL,
	[firstname] [nvarchar](50) NULL,
	[patronymic] [nvarchar](50) NULL,
	[phone] [bigint] NULL,
	[email] [nvarchar](50) NULL,
	[birthdate] [date] NULL,
	[passportdata] [bigint] NULL,
	[login] [nvarchar](50) NULL,
	[passwordhash] [nvarchar](50) NULL,
	[assignment] [nvarchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visitrequests]    Script Date: 15.04.2026 14:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitrequests](
	[requestid] [tinyint] NOT NULL,
	[userid] [tinyint] NOT NULL,
	[requesttype] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[rejectionreason] [nvarchar](50) NULL,
	[startdate] [date] NULL,
	[enddate] [date] NULL,
	[visitpurpose] [nvarchar](50) NULL,
	[targetdepartment] [nvarchar](50) NULL,
	[targetemployeeid] [tinyint] NULL,
	[note] [nvarchar](50) NULL,
	[createdat] [nvarchar](50) NULL,
 CONSTRAINT [PK_visitrequests_1] PRIMARY KEY CLUSTERED 
(
	[requestid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[attachedfiles] ([fileid], [requestid], [filetype], [filepath], [filename], [uploadedat]) VALUES (1, 1, N'passport_scan', N'/uploads/passports/passport_1.pdf', N'passport_ivanov.pdf', N'2026-04-15 12:18:27.17161')
INSERT [dbo].[attachedfiles] ([fileid], [requestid], [filetype], [filepath], [filename], [uploadedat]) VALUES (2, 1, N'photo', N'/uploads/photos/photo_1.jpg', N'ivanov_photo.jpg', N'2026-04-15 12:18:27.17161')
INSERT [dbo].[attachedfiles] ([fileid], [requestid], [filetype], [filepath], [filename], [uploadedat]) VALUES (3, 2, N'passport_scan', N'/uploads/passports/passport_2.pdf', N'passport_petrova.pdf', N'2026-04-15 12:18:27.17161')
GO
INSERT [dbo].[employees] ([employeeid], [lastname], [firstname], [patronymic], [department], [division], [employeecode]) VALUES (1, N'Фомичева', N'Авдотья', N'Трофимовна', N'Производство', NULL, 9367788)
INSERT [dbo].[employees] ([employeeid], [lastname], [firstname], [patronymic], [department], [division], [employeecode]) VALUES (2, N'Гаврилова', N'Римма', N'Ефимовна', N'Сбыт', NULL, 9788737)
INSERT [dbo].[employees] ([employeeid], [lastname], [firstname], [patronymic], [department], [division], [employeecode]) VALUES (3, N'Носкова', N'Наталия', N'Прохоровна', N'Администрация', NULL, 9736379)
GO
INSERT [dbo].[groupmembers] ([groupmemberid], [groupvisitid], [lastname], [firstname], [patronymic], [phone], [email], [passportdata], [birthdate], [photopath]) VALUES (1, 1, N'Тостов', N'Петр', N'Петрович', 89847592848, N'tosy@gmail.com', 1111222233, CAST(N'1990-01-01' AS Date), N'/photos/test1.jpg')
INSERT [dbo].[groupmembers] ([groupmemberid], [groupvisitid], [lastname], [firstname], [patronymic], [phone], [email], [passportdata], [birthdate], [photopath]) VALUES (2, 1, N'Помелов', N'Максим', N'Иванович', 89024356576, N'pomel@gmail.com', 2222333344, CAST(N'1992-02-02' AS Date), N'/photos/test2.jpg')
INSERT [dbo].[groupmembers] ([groupmemberid], [groupvisitid], [lastname], [firstname], [patronymic], [phone], [email], [passportdata], [birthdate], [photopath]) VALUES (3, 2, N'Носков', N'Дмитрий', N'Петрович', 89067876567, N'nos@gmail.com', 3333444455, CAST(N'1995-03-03' AS Date), N'/photos/test3.jpg')
GO
INSERT [dbo].[groupvisits] ([groupvisitid], [requestid], [excelfilepath], [templatefilepath]) VALUES (1, 1, N'/uploads/group_list_1.xlsx', N'/templates/template_group.xlsx')
INSERT [dbo].[groupvisits] ([groupvisitid], [requestid], [excelfilepath], [templatefilepath]) VALUES (2, 2, N'/uploads/group_list_2.xlsx', N'/templates/template_group.xlsx')
INSERT [dbo].[groupvisits] ([groupvisitid], [requestid], [excelfilepath], [templatefilepath]) VALUES (3, 3, N'/uploads/group_list_3.xlsx', N'/templates/template_group.xlsx')
GO
INSERT [dbo].[users] ([userid], [lastname], [firstname], [patronymic], [phone], [email], [birthdate], [passportdata], [login], [passwordhash], [assignment]) VALUES (1, N'Степанова', N'Радинка', N'Власовна', 86132726062, N'Radinka100@yandeRadinka100@yandex.ru', CAST(N'1986-10-18' AS Date), 208530509, N'Vlas86
', N'b3uWS6#Thuvq
', N'24/04/2023_9367788
')
INSERT [dbo].[users] ([userid], [lastname], [firstname], [patronymic], [phone], [email], [birthdate], [passportdata], [login], [passwordhash], [assignment]) VALUES (2, N'Шилов', N'Прохор', N'Герасимович', 86155947766, N'Prohor156@list.ru
', CAST(N'1977-10-09' AS Date), 3036796488, N'Prohor156
', N'zDdom}SIhWs?
', N'24/04/2023_9367788
')
INSERT [dbo].[users] ([userid], [lastname], [firstname], [patronymic], [phone], [email], [birthdate], [passportdata], [login], [passwordhash], [assignment]) VALUES (3, N'Елисеева', N'Альбина', N'Николаевна', 86548647746, N'Aljbina33@lenta.ru
', CAST(N'1971-10-08' AS Date), 5241213304, N'Aljbina33
', N'Bu?BHCtwDFin
', N'25/04/2023_9367788
')
GO
INSERT [dbo].[visitrequests] ([requestid], [userid], [requesttype], [status], [rejectionreason], [startdate], [enddate], [visitpurpose], [targetdepartment], [targetemployeeid], [note], [createdat]) VALUES (1, 1, N'личная', N'одобрена', NULL, CAST(N'2026-04-16' AS Date), CAST(N'2026-04-17' AS Date), N'Деловая встреча', N'Производство', 1, N'Примечание к заявке 1', N'2026-04-15 12:17:46.309577')
INSERT [dbo].[visitrequests] ([requestid], [userid], [requesttype], [status], [rejectionreason], [startdate], [enddate], [visitpurpose], [targetdepartment], [targetemployeeid], [note], [createdat]) VALUES (2, 2, N'групповая', N'проверка', NULL, CAST(N'2026-04-18' AS Date), CAST(N'2026-04-20' AS Date), N'Экскурсия', N'Сбыт', 2, N'Примечание к заявке 2', N'2026-04-15 12:17:46.309577')
INSERT [dbo].[visitrequests] ([requestid], [userid], [requesttype], [status], [rejectionreason], [startdate], [enddate], [visitpurpose], [targetdepartment], [targetemployeeid], [note], [createdat]) VALUES (3, 3, N'личная', N'не одобрена', N'Не предоставлены все необходимые документы', CAST(N'2026-04-16' AS Date), CAST(N'2026-04-16' AS Date), N'Технический осмотр', N'Администрация', 3, N'Примечание к заявке 3', N'2026-04-15 12:17:46.309577')
GO
ALTER TABLE [dbo].[attachedfiles]  WITH CHECK ADD  CONSTRAINT [FK_attachedfiles_visitrequests] FOREIGN KEY([requestid])
REFERENCES [dbo].[visitrequests] ([requestid])
GO
ALTER TABLE [dbo].[attachedfiles] CHECK CONSTRAINT [FK_attachedfiles_visitrequests]
GO
ALTER TABLE [dbo].[groupmembers]  WITH CHECK ADD  CONSTRAINT [FK_groupmembers_groupvisits] FOREIGN KEY([groupvisitid])
REFERENCES [dbo].[groupvisits] ([groupvisitid])
GO
ALTER TABLE [dbo].[groupmembers] CHECK CONSTRAINT [FK_groupmembers_groupvisits]
GO
ALTER TABLE [dbo].[groupvisits]  WITH CHECK ADD  CONSTRAINT [FK_groupvisits_visitrequests] FOREIGN KEY([requestid])
REFERENCES [dbo].[visitrequests] ([requestid])
GO
ALTER TABLE [dbo].[groupvisits] CHECK CONSTRAINT [FK_groupvisits_visitrequests]
GO
ALTER TABLE [dbo].[visitrequests]  WITH CHECK ADD  CONSTRAINT [FK_visitrequests_employees] FOREIGN KEY([targetemployeeid])
REFERENCES [dbo].[employees] ([employeeid])
GO
ALTER TABLE [dbo].[visitrequests] CHECK CONSTRAINT [FK_visitrequests_employees]
GO
ALTER TABLE [dbo].[visitrequests]  WITH CHECK ADD  CONSTRAINT [FK_visitrequests_users] FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([userid])
GO
ALTER TABLE [dbo].[visitrequests] CHECK CONSTRAINT [FK_visitrequests_users]
GO
USE [master]
GO
